@font-face {
	font-family: "Gotham Medium";
	src: url("fonts/Gotham/Gotham-Medium.otf")format("opentype");
}

/* css for computer */

@media only screen and (min-width: 1125px)  {
	body {
		overflow: hidden;
	}

	#welcome {
		font-family: "Gotham Medium";
		color: #ffffbf;
		font-size: 2.5vh;
		text-decoration: none;
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		z-index: 70;
	}

	#welcome:hover {
		animation: lampeggio 1s infinite alternate;
	}

	#my_story {
		margin: 0;
		font-family: "Gotham Medium";
		color: #ffffbf;
		font-size: 1.75vh;
		padding: 1.2vh;
		border: 0.2vh solid black;
		border-radius: 2vh;
		position:absolute;
		top:50%;
		left:80%;
		transform: translate(-50%,-50%);
	}

	#my_story:hover {
		color: #121117;
	}

	#swipe_up {
		display: none;
	}
}

/* end css for computer */

/* css for mobile */

@media only screen and (max-width: 1125px)  {
	#welcome {
		font-family: "Gotham Medium";
		color: #ffffbf;
		font-size: 2.5vh;
		text-decoration: none;
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		animation: lampeggio 1s infinite alternate;
		z-index: 70;
	}

	#my_story {
		margin: 0;
		padding: 0;
		text-align: center;
    font-family: "Gotham Medium";
		color: #121117;
		font-size: 1.75vh;
	}

	#page01 {
		height: 100vh;
		overflow: hidden;
	}

	#page02 {
		position:absolute;
    top:150%;
    left:50%;
    transform: translate(-50%,-50%);
	}

	#swipe_up img{
		width: 5vw;
		height: auto;
		position: fixed;
		top: 96%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.moved{
		width: 5vw;
		height: auto;
		position: fixed;
		top: 96%;
		left: 50%;
		transform: translate(-50%,-50%) rotateX(180deg);
	}
}

/* end css for mobile */

@keyframes lampeggio {
  0%   { opacity: 1; }
  20%   { opacity: 1; }
  100% { opacity: 0; }
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #ffffbf;
	-ms-user-select: none; /* IE 10+ */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header ...'
	'... ...'
	'github demos';
}

.content--fixed a {
	pointer-events: auto;
}
